.bg-company{
  background-color: #316884 !important;
}

html{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    padding-right: 17px; /* Increase/decrease this value for cross-browser compatibility */
}
#products{
    max-width: 100%;
    overflow-x: hidden;
}

.collapse{
  color: #FA5C63 !important;
}
 .btn-primary, .btn-primary:active, .btn-primary:visited {
    background-color: #316884 !important;
    border-color: #316884 !important;
    border-radius: 0;

}
.btn-primary:hover{
  background: #FFFFFF ! important;
  color: #316884 ! important;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
  color: #FFFFFF;
}



.btn-outline-success, .btn-primary:active, .btn-primary:visited {
  background-color: transparent; !important;
    border-color: #FFFFFF !important;
  color: #FFFFFF;
    border-radius: 0;
}

.btn-outline-success:hover{
  background: #FFFFFF ! important;
  color: #316884 ! important;
}
.fc{
  border-radius: 0px;
}

.navbar-comp {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}





.lay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 10%; /* Full width (cover the whole page) */
    height: 20%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

.dp{
  left:265px;
}

.brand-box {
  background:  #316884 ! important;
  color: #FFFFFF ! important;
  height: 400px;
  width: 100%;
  background: #000;
  font-size: 48px;
  color: #FFF;
  text-align: center;
  padding: 20 20px;
  margin: 0 auto 50px;
  display: flex;
  justify-content: center;
  /* align horizontal */
  align-items: center;
  /* align vertical */

}





.mydropdown {
    
}

.mydropdown-content {
    display: none;
    position: fixed;
    background-color: #f6f6f6;
    
    border: 1px solid #ddd;
}

.mydropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
  
}

.mydropdown a:hover {background-color: #FFFFFF; color: }


/*.show {display:block;}





